/* Global Layout Set-up */
* {
	box-sizing: border-box;
}

body {
	background: #fafafa;
	color: #7f7f7f;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	font-size: 18px;
}

h1, h2, h3, h4, a, li {
	color: #4a4a4a;
}
	
/* Link Styles */

a {
text-decoration: none;
}

a:hover {
	color: #9a9a9a;
}
	
/*  Section Styles */

.section-title, nav a, .top-name, .bottom-name {
	font-weight: 800;
}
	
.section-title, nav a {
	text-transform: uppercase;
}

.section-title {
	font-size: 1em;
	}

.portfolio, 
.project-card, 
.main-footer, 
.main-nav,
.page-nav,
.contact {
	padding: 15px 10px;
	margin: 0 auto;
}
.portfolio{
	background: #fff;
	width: 100%;
}

.project-card img{
	width: 100%;
}


.project-title {
	font-weight: 600;
}

.page-nav {
	list-style: none;
}

.page-nav li {
	width: 100%;
	display: inline-block;
	}

.top-name {
	font-size: 1.75em;
}

.contact {
	width: 90%;
	margin-bottom: 30px;
	border-bottom: 1px solid #cfcfcf;
	}
	
.contact strong {
	padding-left: 5px;
	}

